In [9]:
print(f'Bem-vindo ao Calculador de Área do Paralelogramo')
base = []
base = float(input(f'Insira o comprimeto da base: '))
altura = []
altura = float(input(f'Insira a altura: '))
area = base * altura
print(f'A área do paralelograma é',area)
print(f'\n A área do paralelograma é {area:.2f} ')

Bem-vindo ao Calculador de Área do Paralelogramo
A área do paralelogramo é 24.0

 A área do paralelogramo é 24.000

In [24]:
print(f'Bem-vindo a calculadora')
n1 = float(input(f'Insira o primeiro número'))
oper = input(f'Selecione a operação: +, -, *, /')
n2 = float(input(f'Insira o segundo número'))

while n2 == 0 and oper == '/':
    print(f'Não é possível dividir por zero')
    n1 = float(input(f'Insira o primeiro número'))
    oper = input(f'Selecione a operação: +, -, *, /')
    n2 = float(input(f'Insira o segundo número'))
    print()

num = 0
if oper == '+':
    conta = n1 + n2
elif oper == '-':
    conta = n1 - n2
elif oper == '*':
    conta = n1 * n2
elif oper == '/':
    conta = n1 / n2
else:
    print("Operação Inválida.")
    num = num + 1    

if num != 1:
    print(f'O resultado é {conta:.2f}')

Bem-vindo a calculadora

Não é possível dividir por zero

Não é possível dividir por zero

Operação Inválida.

### Algoritmo Bubble Sort

In [6]:
lista1 = [6, 3, 12, 7, 5, 19, 66, 45, 54, 24, 77, 22, 91, 33, 17]
lista2 = [3,4,5,78,89,23,1,0,44,2,21]

def bubble_sort(arr):
    n = len(arr)               #para ver o tamanho da lista
    for i in range(n):
        for j in range(0, n-i-1):
            if arr[j] > arr [j+1]:
                arr[j], arr[j+1] = arr[j+1], arr[j]

    return arr

print(bubble_sort(lista1))
print(bubble_sort(lista2))
print()

[3, 5, 6, 7, 12, 17, 19, 22, 24, 33, 45, 54, 66, 77, 91]
[0, 1, 2, 3, 4, 5, 21, 23, 44, 78, 89]

In [5]:
print(type("4"))
print(15 % 6)
print(2 // 1.3)
print(5 ** 5)

<class 'str'>
3
1.0
3125

In [7]:
altura, largura = 2, 4
base = altura * 2 + largura * 4
print(base)

20

In [11]:
nome1, nome2 = "Bob", "Marley"
nomeInteiro = nome1 + " " + nome2
print(nomeInteiro)

Bob Marley

In [3]:
print('Testando \nStrings \nEm \nPython ')
s = 'Data Science Academy'
print(s)
print(s[1:5])
print(s + " " + "me ensina python")
print(s.upper())
print(s.lower())
print(s.split())
print(s.split('e'))

print(s.isalnum())
print(s.islower())
print(s.isspace())
print(s.endswith('n'))
print()

l = 'Sem nada mais'
print(s == l)

n = "maria.joana.carlos.marcos.luiz.felipe.gabriel"
print(n.split("."))

o = "maria/joana/carlos/marcos/luiz/felipe/gabriel"
print(o.split("/"))

p = "gabriel-luiz-carlos-marcos-margarete-marcos"
print(p.split("-"))

q = "julio_gabriel_marcos_giovana_fred"
print(q.split("_"))

r = "luis=Gabriel=Marcos=João"
print(r.split("="))

t = "Luiza*Gabriel*Marcos*João*Suzana"
print(t.split("*"))

u = "Luiz?João?Marcos?Astrid?Manoel"
print(u.split("?"))

v = "Fabiano,Gustavo,Marcelo,Jonas,Leo"
print(v.split(','))

w = "olá, todos nós queremos mostrar quantas vezes nós conseguimos ir até o topo da montanha e retornar sem nenhum problema."
print(w.upper())

Testando
Strings
Em
Python
Data Science Academy
ata
Data Science Academy me ensina python
DATA SCIENCE ACADEMY
data science academy
['Data', 'Science', 'Academy']
['Data Sci', 'nc', ' Acad', 'my']
False
False
False
False

False
['maria', 'joana', 'carlos', 'marcos', 'luiz', 'felipe', 'gabriel']
['maria', 'joana', 'carlos', 'marcos', 'luiz', 'felipe', 'gabriel']
['gabriel', 'luiz', 'carlos', 'marcos', 'margarete', 'marcos']
['julio', 'gabriel', 'marcos', 'giovana', 'fred']
['luis', 'Gabriel', 'Marcos', 'João']
['Luiza', 'Gabriel', 'Marcos', 'João', 'Suzana']
['Luiz', 'João', 'Marcos', 'Astrid', 'Manoel']
['Fabiano', 'Gustavo', 'Marcelo', 'Jonas', 'Leo']
OLÁ, TODOS NÓS QUEREMOS MOSTRAR QUANTAS VEZES NÓS CONSEGUIMOS IR ATÉ O TOPO DA MONTANHA E RETORNAR SEM NENHUM PROBLEMA.

In [27]:
#Listas parte 1

lista1 = ["Arroz, feijão, tomate, leite"]
print(type(lista1))
print(lista1)
lista2 = ['Arroz', 'Feijão', 'Tomate', 'Leite']
print(type(lista2))
print(lista2)
print(lista2[2])
lista3 = [23, 100, "Cientista de Dados"]
print(type(lista3))
print(lista3)
item1 = lista3[0]
item2 = lista3[1]
item3 = lista3[2]
print(item1, item2, item3)
lista4 = ["Laranja", "Maça", "Abacaxi", "Uva"]
print(type(lista4))
print(lista4)
lista4[2] = "Abacate"
print(lista4)
del(lista4[1])
print(lista4)
print()

listas = [[1,2,3], [2,3,4], [5,6,7]]
print(listas)
print(listas[0])
a = listas[0]
b = a[1]
print(b)
listas2 = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]
print(listas2[2][0])
c = listas2[2][2]
print(c + 10)
d = (listas2[0][1] + listas2[1][2]) * 10
print(d)
e = c + d
print(e)

lista5 = [3,7,10]
lista6 = [17,19,22]
listas3 = lista5 + lista6
print(listas3)
print(7 in listas3)
print(5 in listas3)

<class 'list'>
['Arroz, feijão, tomate, leite']
<class 'list'>
['Arroz', 'Feijão', 'Tomate', 'Leite']
Tomate
<class 'list'>
[23, 100, 'Cientista de Dados']
23 100 Cientista de Dados
<class 'list'>
['Laranja', 'Maça', 'Abacaxi', 'Uva']
['Laranja', 'Maça', 'Abacate', 'Uva']
['Laranja', 'Abacate', 'Uva']

[[1, 2, 3], [2, 3, 4], [5, 6, 7]]
[1, 2, 3]
2
10.1
12.3
160
162.3
[3, 7, 10, 17, 19, 22]
True
False

In [5]:
#Listas parte 2

listaNumeros = [10,20,50,-3.4]
print(len(listaNumeros))
print(min(listaNumeros))
print(max(listaNumeros))

listaCarreiras = ["Cientista de Dados","Engenheiro de Dados","Analista de Dados"]
listaCarreiras.append("Engenheiro de IA")
print(listaCarreiras)
listaCarreiras.append("Engenheiro de IA")
print(listaCarreiras)
print(listaCarreiras.count("Engenheiro de IA"))
print()

#Criando uma lista vazia

listaVazia = []
print(listaVazia)
listaVazia.append("10")
print(listaVazia)
listaVazia.append("50")
print(listaVazia)
print()

listaVazia2 = []
print(listaVazia2)
listaVazia2.append('Macaco')
print(listaVazia2)
listaVazia2.append('Jacaré')
print(listaVazia2.count('Jacaré'))
print()

listaAntiga = [1,2,5,10]
listaNova = [3,5,6]
for item in listaAntiga:
    listaNova.append(item)
print(listaNova)
print()

listaCidades = ['Manaus', 'São Paulo', 'Rio de Janeiro']
print(listaCidades)
listaCidades.extend(['Porto Alegre', 'Curitiba'])
print(listaCidades)
print(listaCidades.index('Rio de Janeiro'))
print()

listaBairros = ['Penha', 'Tatuapé', 'Pinheiros']
print(listaBairros)
listaBairros2 = ['Vila Matilde', 'Patriarca']
print(listaBairros2)
listaBairros.extend(listaBairros2)
print(listaBairros)
listaBairros.append('Itaquera')
print(listaBairros)
print()


listaBairros3 = ['Vila Mariana', 'Santa Cruz']
listaBairros4 = ['Jabaquara', 'Saude']
for item in listaBairros3:
    listaBairros4.append(item)
print(listaBairros4)
del(listaBairros4[1])
print(listaBairros4)
print()


listaBairros5 =[]
print(listaBairros5)
listaBairros5.append('Itaquera')
print(listaBairros5)
listaBairros6 = ['Guilhermina', 'Carrão']
listaBairros5.extend(listaBairros6)
print(listaBairros5)
print(listaBairros5.index('Guilhermina'))
print()

listaAlunos = ['Cesar', 'Paulo', 'Jady']
print(listaAlunos)
listaAlunos.append('Rose')
print(listaAlunos)
listaAlunos2 = ['Marcio', 'Rosa']
listaAlunos.extend(listaAlunos2)
print(listaAlunos)
print(listaAlunos.index('Marcio'))
listaAlunos.insert(3, 'Maicon')
print(listaAlunos)
listaAlunos.index('Maicon')
print(listaAlunos)
listaAlunos.remove('Maicon')
print(listaAlunos)
listaAlunos.sort()
print(listaAlunos)
listaAlunos.reverse()
print(listaAlunos)
print()

4
-3.4
50
['Cientista de Dados', 'Engenheiro de Dados', 'Analista de Dados', 'Engenheiro de IA']
['Cientista de Dados', 'Engenheiro de Dados', 'Analista de Dados', 'Engenheiro de IA', 'Engenheiro de IA']
2

[]
['10']
['10', '50']

[]
['Macaco']
1

[3, 5, 6, 1, 2, 5, 10]

['Manaus', 'São Paulo', 'Rio de Janeiro']
['Manaus', 'São Paulo', 'Rio de Janeiro', 'Porto Alegre', 'Curitiba']
2

['Penha', 'Tatuapé', 'Pinheiros']
['Vila Matilde', 'Patriarca']
['Penha', 'Tatuapé', 'Pinheiros', 'Vila Matilde', 'Patriarca']
['Penha', 'Tatuapé', 'Pinheiros', 'Vila Matilde', 'Patriarca', 'Itaquera']

['Jabaquara', 'Saude', 'Vila Mariana', 'Santa Cruz']
['Jabaquara', 'Vila Mariana', 'Santa Cruz']

[]
['Itaquera']
['Itaquera', 'Guilhermina', 'Carrão']
1

['Cesar', 'Paulo', 'Jady']
['Cesar', 'Paulo', 'Jady', 'Rose']
['Cesar', 'Paulo', 'Jady', 'Rose', 'Marcio', 'Rosa']
4
['Cesar', 'Paulo', 'Jady', 'Maicon', 'Rose', 'Marcio', 'Rosa']
['Cesar', 'Paulo', 'Jady', 'Maicon', 'Rose', 'Marcio', 'Rosa']
['Cesar', 'Paulo', 'Jady', 'Rose', 'Marcio', 'Rosa']
['Cesar', 'Jady', 'Marcio', 'Paulo', 'Rosa', 'Rose']
['Rose', 'Rosa', 'Paulo', 'Marcio', 'Jady', 'Cesar']

In [5]:
#Dicionários

estudantes = ['Pedro', 10, 'Ronaldo', 33, 'Ana', 27, 'Janaina', 45]
print(type(estudantes))
estudantes = {'Pedro':10, 'Ronaldo':33, 'Ana':27, 'Janaina':45}
print(type(estudantes))
print(estudantes['Pedro'])
print(estudantes["Ronaldo"])
print()

estudantes['Marcelo'] = 30
print(estudantes)
estudantesVazio = {}
estudantesVazio['Isis'] = 54
print(estudantesVazio)
estudantes.clear()
print(estudantes)
del estudantes
print()

estudantes2 = {'Gabriel': 10, 'Juliana': 20}
print(estudantes2)
estudantes2['Marcelo'] = 30
print(estudantes2)
estudantes2['Marco'] = 18
print(estudantes2)
print()

estudantes3 = {}
print(estudantes3)
estudantes3['Lauro'] = 30 
print(estudantes3)

<class 'list'>
<class 'dict'>
10
33

{'Pedro': 10, 'Ronaldo': 33, 'Ana': 27, 'Janaina': 45, 'Marcelo': 30}
{'Isis': 54}
{}

{'Gabriel': 10, 'Juliana': 20}
{'Gabriel': 10, 'Juliana': 20, 'Marcelo': 30}
{'Gabriel': 10, 'Juliana': 20, 'Marcelo': 30, 'Marco': 18}

{}
{'Lauro': 30}

In [6]:
#Funções

def primeiraFunc ():
    print('Hello World')

print(primeiraFunc())   

def primeiraFunc():
    nome = 'Bob'
    print(f'Hello {nome}')

primeiraFunc()
print(primeiraFunc())   

def segundaFunc(nome):
    print(f'Hello {nome}')

segundaFunc('Aluno')
print(segundaFunc('Aluno'))


def imprimeNumeros():
    for i in range (0, 5, 1):
        print(f'Número {i}')

imprimeNumeros()     
print()

def addNum(firstnum, secondnum):
    print(f'Primeiro Número: {firstnum}')
    print(f'Segundo Número: {secondnum}')
    print(f'Soma: {firstnum + secondnum}')

addNum(4, 7)  
print()  
          
def printVarInfo(*args):
    for item in args:
        print(f'O parâmetro passado foi {item}')
    return
printVarInfo(5, 7, 8)  
print()

var_global = 10

def multiplica_numeros(num1, num2):
    var_global = num1 * num2
    print(var_global)

print(var_global)
multiplica_numeros(4, 7)

# Funções Built-in

abs(-56)
str(14)

Hello World
None
Hello Bob
Hello Bob
None
Hello Aluno
Hello Aluno
None
Número 0
Número 1
Número 2
Número 3
Número 4

Primeiro Número: 4
Segundo Número: 7
Soma: 11

O parâmetro passado foi 5
O parâmetro passado foi 7
O parâmetro passado foi 8

10
28

'14'

In [5]:
idade = int(input('Digite a sua idade: '))
print(f' A idade dela é {idade}')

 A idade dela é 33

123

In [11]:
int(float('123.345'))

5

In [20]:
import math

math.exp2(8)
print()
math.sqrt(64)
print()
math.cos(0)
math.factorial(4)

24