In [9]:
print(f'Bem-vindo ao Calculador de Área do Paralelogramo')
base = []
base = float(input(f'Insira o comprimeto da base: '))
altura = []
altura = float(input(f'Insira a altura: '))
area = base * altura
print(f'A área do paralelograma é',area)
print(f'\n A área do paralelograma é {area:.2f} ')

Bem-vindo ao Calculador de Área do Paralelogramo
A área do paralelogramo é 24.0

 A área do paralelogramo é 24.000

In [24]:
print(f'Bem-vindo a calculadora')
n1 = float(input(f'Insira o primeiro número'))
oper = input(f'Selecione a operação: +, -, *, /')
n2 = float(input(f'Insira o segundo número'))

while n2 == 0 and oper == '/':
    print(f'Não é possível dividir por zero')
    n1 = float(input(f'Insira o primeiro número'))
    oper = input(f'Selecione a operação: +, -, *, /')
    n2 = float(input(f'Insira o segundo número'))
    print()

num = 0
if oper == '+':
    conta = n1 + n2
elif oper == '-':
    conta = n1 - n2
elif oper == '*':
    conta = n1 * n2
elif oper == '/':
    conta = n1 / n2
else:
    print("Operação Inválida.")
    num = num + 1    

if num != 1:
    print(f'O resultado é {conta:.2f}')

Bem-vindo a calculadora

Não é possível dividir por zero

Não é possível dividir por zero

Operação Inválida.

### Algoritmo Bubble Sort

In [8]:
lista1 = [6, 3, 12, 7, 5, 19, 66, 45, 54, 24, 77, 22, 91, 33, 17]
lista2 = [3,4,5,78,89,23,1,0,44,2,21]

def bubble_sort(arr):
    n = len(arr)               #para ver o tamanho da lista
    for i in range(n):
        for j in range(0, n-i-1):
            if arr[j] > arr [j+1]:
                arr[j], arr[j+1] = arr[j+1], arr[j]

    return arr

print(bubble_sort(lista1))
print(bubble_sort(lista2))
print()

[3, 5, 6, 7, 12, 17, 19, 22, 24, 33, 45, 54, 66, 77, 91]
[0, 1, 2, 3, 4, 5, 21, 23, 44, 78, 89]

In [1]:
print(type("4"))
15 % 6
2 // 1.3
5 ** 5

3

In [7]:
altura, largura = 2, 4
base = altura * 2 + largura * 4
print(base)

20

In [11]:
nome1, nome2 = "Bob", "Marley"
nomeInteiro = nome1 + " " + nome2
print(nomeInteiro)

Bob Marley

In [2]:
print('Testando \nStrings \nEm \nPython ')
s = 'Data Science Academy'
print(s)
print(s[1:5])
print(s + " " + "me ensina python")
print(s.upper())
print(s.lower())
print(s.split())
print(s.split('e'))

print(s.isalnum())
print(s.islower())
print(s.isspace())
print(s.endswith('n'))
print()

l = 'Sem nada mais'
print(s == l)

n = "maria.joana.carlos.marcos.luiz.felipe.gabriel"
print(n.split("."))

o = "maria/joana/carlos/marcos/luiz/felipe/gabriel"
print(o.split("/"))

p = "gabriel-luiz-carlos-marcos-margarete-marcos"
print(p.split("-"))

q = "julio_gabriel_marcos_giovana_fred"
print(q.split("_"))

r = "luis=Gabriel=Marcos=João"
print(r.split("="))

s = "Luiza*Gabriel*Marcos*João*Suzana"
print(s.split("*"))

Testando
Strings
Em
Python
Data Science Academy
ata
Data Science Academy me ensina python
DATA SCIENCE ACADEMY
data science academy
['Data', 'Science', 'Academy']
['Data Sci', 'nc', ' Acad', 'my']
False
False
False
False

False
['maria', 'joana', 'carlos', 'marcos', 'luiz', 'felipe', 'gabriel']
['maria', 'joana', 'carlos', 'marcos', 'luiz', 'felipe', 'gabriel']
['gabriel', 'luiz', 'carlos', 'marcos', 'margarete', 'marcos']
['julio', 'gabriel', 'marcos', 'giovana', 'fred']
['luis', 'Gabriel', 'Marcos', 'João']
['Luiza', 'Gabriel', 'Marcos', 'João', 'Suzana']

['Luiza', 'Gabriel', 'Marcos', 'João', 'Suzana']